@page "/manager/training-result/skill/{SKillID}"
@model TrainingSystemManagerWEB.Pages.Manager.TrainingResultFilterBySkillModel
@{
    ViewBag.PageName = "TrainingResult";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="Job" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vị trí công việc
                </button>
                <div class="dropdown-menu" aria-labelledby="Job">
                    @foreach (var job in @Model.ListJobPosition)
                    {
                        <a class="dropdown-item btn btn-secondary" href="/manager/training-result/job/@job.JobPositionID">@job.JobPositionName</a>
                    }
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="Skill" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kỹ năng
                </button>
                <div class="dropdown-menu" aria-labelledby="Skill">
                    @foreach (var skill in @Model.ListSkill)
                    {
                        <a class="dropdown-item btn btn-secondary" href="/manager/training-result/skill/@skill.SkillID">@skill.SkillName</a>
                    }
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="Knowledge" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kiến thức
                </button>
                <div class="dropdown-menu" aria-labelledby="Knowledge">
                    @foreach (var knowledge in @Model.ListKnowledge)
                    {
                        <a class="dropdown-item btn btn-secondary" href="/manager/training-result/knowledge/@knowledge.KnowledgeID">@knowledge.KnowledgeName</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card-style mb-30">
    <h4 class="mb-25 justify-content-between">KẾT QUẢ TRAINING</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Khoá học</th>
                <th scope="col">Học viên</th>
                <th scope="col">Điểm</th>
                <th scope="col">Đánh giá</th>
                <th scope="col">Vị trí công việc</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.TrainingResults)
            {
                <tr>
                    <td>@result.CourseName</td>
                    <td>@result.TraineeName</td>
                    <td>@result.Point</td>
                    <td>@result.ResultOfEvaluation</td>
                    <td>@result.JobPositionName</td>
                    <td>
                        <a class="main-btn primary-btn btn-hover btn-sm" href="/manager/training-result/@result.CourseID/@result.TraineeID">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>