
@page "/admin/departments/{DepartmentID}/trainingprogram"
@model TraningSystemAdminWEB.Pages.Admin.FilterbyDepartmentModel
@{
    ViewBag.PageName = "FilterByJobPosition";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <div class="dropdown1">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Lọc theo Vị trí </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var jobpos in Model.ListJobPosition)
                    {
                        <li><a class="JobPosition link-secondary" id="row-@jobpos.JobPositionID" href="/admin/job-positions/@jobpos.JobPositionID/trainingprogram">Vị trí @jobpos.JobPositionName</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="p-2">
            <div class="dropdown2">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Lọc theo Phòng ban </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var department in Model.ListDepartment)
                    {
                        <li><a class="Department link-secondary" id="row-@department.DepartmentID" href="/admin/departments/@department.DepartmentID/trainingprogram">Phòng @department.DepartmentName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card-style mb-30">
        <h1 class="mb-4">Chương Trình Training</h1>
        <p class="text-sm mb-20">         </p>
        <div class="table-wrapper table-responsive">
            <table class="table striped-table">
                <thead>
                    <tr>
                        <th scope="col">Tên Chương Trình</th>
                        <th scope="col">Phòng ban</th>
                        <th scope="col">Công việc</th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>
                    @foreach (var trainingProgram in Model.ListTrainingProgram)
                    {
                    <tr id="row-@trainingProgram.TrainingID">
                        <td>@trainingProgram.TrainingName</td>
                        <td>
                            @trainingProgram.DepartmentName
                        </td>
                        <td>
                            @trainingProgram.JobPositionName
                        </td>
                    </tr>
                    }
                    <!-- end table row -->
                </tbody>
            </table>
            <!-- end table -->
        </div>
    </div>
    <!-- end card -->
</div>